<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Visomax.Properties.Settings.S8_RealConnectionString" connectionString="Data Source=XXX.XX.X.XX,XXXX;Initial Catalog=S8_Real;User ID=xxxx; Password=xxxx" providerName="System.Data.SqlClient"/>
        <add name="Visomax.Properties.Settings.VisomaxConnectionString" connectionString="Data Source=XXX.XX.X.XX,XXXX;Initial Catalog=Visomax;User ID=xxxx;Password=xxxx" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
